[auth]
author=
key=

[scopes]
email=https://www.googleapis.com/auth/gmail.readonly

[files]
project_directory=
source_directory=
orders_directory=
config_directory=
credentials_file=credentials.json
pickle_file=token.json

[settings]
scan_interval=1
sender_email=
acrobat_path=C:\Program Files\Adobe\Acrobat DC\Acrobat\Acrobat.exe